/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px;
    /* color: #fff; */
    background: #BADFDB;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* vertical center */
    align-items: center;
    text-align: center;
}

.sidebar-name {
    font-size: 1.5rem;
    /* font-weight: 100; */
}

.sidebar-nav .nav-link {
    color: #1B3C53;
    font-size: 1.1rem;
    padding: 8px 0;
}

.sidebar-nav .nav-link:hover {
    color: #fff;
    transform: translateX(4px);
}

/* Social Icon*/
.sidebar-social {
    display: flex;
    gap: 15px;
    justify-content: center;
    /* margin-top: 20px; */
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-icon:hover {
    transform: scale(1.15);
    opacity: 0.8;
}

/* Circle Profile Image */
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #FCF9EA;
}