/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Inter', sans-serif;
}

/* Layout */
.app-layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    background: #BADFDB;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* vertical center */
    align-items: center;
    text-align: center;

    gap: 20px;
}

.sidebar-name {
    font-weight: 700;
}

.sidebar-nav {
    list-style: none;
}

.sidebar-nav .nav-link {
    color: #1B3C53;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px 0;

    display: block;
    transition: all 0.3s ease;
}

.sidebar-nav .nav-link:hover {
    color: #fff;
    transform: translateX(4px);
}

/* Social Icon*/
.sidebar-social {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.social-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #1B3C53;
    border-radius: 50%;

    transition: transform 0.2s ease, opacity 0.2s ease;
}

.social-icon:hover {
    transform: scale(1.15);
    opacity: 0.8;
}

/* Circle Profile Image */
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;

    border: 4px solid #1B3C53;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #FCF9EA;
    padding:40px;
}